.wrapper {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 200px;
  input {
    width: 100px;
    height: 100px;
  }
  button {
    width: 220px;
  }
  label {
    font-size: 40px;
    color: coral;
  }
}
